<% provide(:title, "practice") %>
<h1>Sample App</h1>
<p>
  This is the practice page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>
<%= comma_splitter("A man, a plan, a canal, Panama")%>
</p>
<p>
<%= yeller(["A man", "a plan", "a canal", "Panama"])%>
</p>
<p>
<%= random_subdomain %>
</p>
</html>